@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&family=Kavoon&family=Rakkas&family=Roboto:wght@300;400;700&family=Shrikhand&family=Ultra&family=Yatra+One&display=swap');

/* 
  IMPORTED FONTS
  Fredoka
  Kavoon
  Rakkas
  Roboto
  Shirkhand
  Ultra
  Yatra One
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}